<div *ngIf="category !== null" class="row mt-3">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li *ngFor="let cat of getCategoryTree(); last as isLast" 
                class="breadcrumb-item" 
                [ngClass]="{'active': isLast}">
                <a *ngIf="!isLast || activeLast; else lastCat" [routerLink]="['/products',cat | lowercase]">{{cat}}</a> 
                <ng-template #lastCat>{{cat}}</ng-template>
            </li>
        </ol>
    </nav>
</div>
