.product-list{
    border: 1px solid rgba(0,0,0,.125);
    border-top: 0px;
    padding: 2%;
}

.order-by-tab{
    border: 1px solid rgba(0,0,0,.125);
    border-bottom: 0px;
    display: block;
    position: relative;
    padding: .75rem 1.25rem;
    background-color: lightgray;
}

.order-by-tab:hover{
    background-color: #5bc0de;
    cursor: pointer;
}

.order-by-tab.active{
    border-top: 6px solid #0275d8; 
    background-color: white;
}

.price-input{
 width: 80%;
}

.filter-list{
    background: rgba(0,0,0,.125);
    // background-image: linear-gradient(lightblue,white);
    padding: 2%;
}

.clickable-text{

}

.clickable-text:hover{
    cursor: pointer;
    text-decoration: underline solid black;
}

.product-card{
    background-image: linear-gradient(lightblue,white);
}

.product-card:hover{
    border: lightseagreen;
}