.product-list{
    border: 1px solid rgba(0,0,0,.125);
    border-top: 0px;
    padding: 2%;
}

.order-by-tab{
    border: 1px solid rgba(0,0,0,.125);
    border-bottom: 0px;
    display: block;
    position: relative;
    padding: .75rem 1.25rem;
    background-color: rgba(0,0,0,.125);
}

.order-by-tab.active{
    color: #0059ff;
}

.order-by-tab:hover{
    background-color: #dbdbdb;
    cursor: pointer;
}

.order-by-tab-horizontal.active{
    border-top: 4px solid #007bff; 
    background-color: white;
}

.order-by-tab-vertical{
    transition: all 0.3s ease;
    border: 0px;
    border-bottom: 1px solid rgba(0,0,0,.125);
    background: transparent;
}

.order-by-tab-vertical.active{
    border-left: 4px solid #007bff; 
    border-right: 0px;
    background-color: white;
    margin-left: 5%;
    margin-right: -10%;
}

.filter-pane{
    background: rgba(0,0,0,.125);
    // background-image: linear-gradient(lightblue,white);
    padding: 2%;
    border: 1px solid rgba(0,0,0,.125);
    border-right: 0px;
}

.product-card{
    background-image: linear-gradient(lightblue,white);
}

.product-card:hover{
    border: lightseagreen;
}

.card-bottom{
    position:absolute;
    bottom:0;
    width: 100%;
}

.category-tab{
    border: 1px solid rgba(0,0,0,.125);
    display: block;
    position: relative;
    padding: .75rem 1.25rem;
    border-radius: 15px;
}