
<div class="container">
    <div class="row mt-5">

        <!--Filter Pane on the left-->
        <div class="col-xs filter-pane">
            <h6 class="row text-center">Price</h6>
            <span class="row">From:</span>
            <input type="number" class="row price-input" [(ngModel)]="priceFrom">
            <span class="row">To:</span>
            <input type="number" class="row price-input" [(ngModel)]="priceTo">
            <hr>
            <h6 class="row text-center">Brands</h6>
            <div *ngIf="brandFilter.size > 0">
                <span *ngFor="let brand of brandFilter | keyvalue" 
                    class="row order-by-tab order-by-tab-vertical"
                    [class.active]="brand.value"
                    (click)="toggleBrandFilter(brand.key)">
                    {{brand.key}}
                </span>
            </div>
        </div>

        <div class="col-lg">
            <!--Order By Tabs-->
            <div class="row">
                <div *ngFor="let value of orderValues()" 
                    class="order-by-tab order-by-tab-horizontal col-sm text-center"
                    [class.active]="ordering === value"
                    (click)="ordering = value">
                    {{value}}
                </div>
            </div>
        
            <!--Product list-->
            <div *ngIf="filteredProducts.length > 0; else noProducts" class="row product-list">
                <div *ngFor="let product of pagedFilteredProducts()" class="card col-md-4 pt-3 product-card">
                    <img [src]="product.images ? product.images[0] : '../../../assets/no_image.png'" class="card-img-top" alt="...">
                    <div class="card-body">
                        <progressbar [max]="maxRating" [value]="product.rating">
                            <span>{{product.rating | number:'1.0-1'}} / {{maxRating}}</span>
                        </progressbar>
                        <h5 class="card-title clickable-text" [routerLink]="['/product',product.id]">{{product.name}}</h5>
                        <p class="card-text">{{product.description}}</p>
                        <div class="card-body text-right">
                            <h6>{{product.price | number:'1.2-2'}} €</h6>
                            <button class="btn btn-primary" (click)="addItemToBasket(product)">Add To Basket</button>
                        </div>
                    </div>
                </div>

                <!--Paging pane-->
                <div class="col-xs-12 col-12 mt-2">
                    <pagination 
                        [totalItems]="filteredProducts.length" 
                        [maxSize]="12"
                        [itemsPerPage]="itemsPerPage"
                        (pageChanged)="pageChanged($event)"></pagination>
                </div>
            </div>

            <ng-template #noProducts>
                THERE ARE NO PRODUCTS
            </ng-template>
        </div>
    </div>
</div>
