
<div class="container">

    <app-category-breadcrumb [category]="currentCategory"></app-category-breadcrumb>

    <!--List of children categories of the category-->
    <div *ngIf="currentCategory && currentCategory.children && currentCategory.children.length > 0" class="row mb-3">
        <div *ngFor="let category of currentCategory.children" class="col-xs category-tab mr-1 mb-1">
            <a [routerLink]="['/products',category.name | lowercase]">{{category.name}}</a>
        </div>
    </div>

    <div class="row">

        <!--Filter Pane on the left-->
        <div class="col filter-pane">
            <h6 class="text-center">Price</h6>
            <label for="prFrom">From:</label>
            <input id="prFrom" type="number" class="price-input" [(ngModel)]="priceFrom">
            <br>
            <label for="prTo">To:</label>
            <input id="prTo" type="number" class="price-input" [(ngModel)]="priceTo">
            <hr>
            <h6 class="text-center">Brands</h6>
            <div *ngIf="brandFilter && brandFilter.size > 0">
                <span *ngFor="let brand of brandFilter | keyvalue" 
                    class="order-by-tab order-by-tab-vertical"
                    [class.active]="brand.value"
                    (click)="toggleBrandFilter(brand.key)">
                    {{brand.key.name}}
                </span>
            </div> 
        </div>

        <div class="col-9">
            <!--Order By Tabs-->
            <div class="row">
                <div *ngFor="let value of orderValues()" 
                    class="order-by-tab order-by-tab-horizontal col-sm text-center"
                    [class.active]="ordering === value"
                    (click)="ordering = value">
                    {{value | productsOrderbyName}}
                </div>
            </div>
        
            <!--Product list-->
            <div *ngIf="products && products.length > 0; else noProducts" class="row product-list">
                <div *ngFor="let product of products" class="card col-md-4 pt-3 product-card">
                    <img [src]="product.image ? product.image : '../../../assets/no_image.png'" class="card-img-top" alt="...">
                    <div class="card-body">
                        <progressbar [max]="maxRating" [value]="product.rating">
                            <span>{{product.rating | number:'1.0-1'}} / {{maxRating}}</span>
                        </progressbar>
                        <h5 class="card-title clickable-text" [routerLink]="['/product',product.id]">{{product.name}}</h5>
                        <p class="card-text">{{product.description}}</p>
                        <div class="card-body text-right">
                            <h6>{{product.price | number:'1.2-2'}} €</h6>
                            <button class="btn btn-primary" (click)="addItemToBasket(product)">Add To Basket</button>
                        </div>
                    </div>
                </div>

                <!--Paging pane-->
                <div class="col-xs-12 col-12 mt-2">
                    <pagination 
                        [totalItems]="products.length" 
                        [maxSize]="12"
                        [itemsPerPage]="itemsPerPage"
                        (pageChanged)="pageChanged($event)"></pagination>
                </div>
            </div>

            <ng-template #noProducts>
                THERE ARE NO PRODUCTS
            </ng-template>
        </div>
    </div>
</div>
