<!--Start of component, main container is nav-->
<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
    
    <!--The main element on the left of navbar which redirects to main page-->
    <a class="navbar-brand" routerLink="/Admin">Admin</a>

    <button class="navbar-toggler collapsed" type="button" (click)="isCollapsed = !isCollapsed" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!--Navbar Items-->
    <div class="collapse navbar-collapse" [collapse]="isCollapsed">
        <ul class="navbar-nav mr-auto">
            <!--Main Sections
            MainSections are generated via ngFor 
            for easier route mapping and section enabling-->
            <li *ngFor="let section of sections" class="nav-item">
                <a [routerLink]="[section.link]" routerLinkActive="active" [class.disabled]="!section.enabled" class="nav-link">
                    {{section.name}}
                </a>
            </li>
        </ul>
    </div>

</nav>


