<div *ngIf="isLoggedIn(); else loggedOut">
    <div class="btn-group" dropdown>
        <button id="button-basic" dropdownToggle type="button" class="btn btn-link dropdown-toggle"
                aria-controls="dropdown-basic">
            User <span class="caret"></span>
        </button>

        <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
            role="menu" aria-labelledby="button-basic">
            <li role="menuitem"><a class="dropdown-item" href="#">Profile</a></li>
            <li role="menuitem"><a class="dropdown-item" href="#">My Orders</a></li>
            <li class="divider dropdown-divider"></li>
            <li role="menuitem"><a class="dropdown-item" (click)="logout()">Logout</a></li>
        </ul>
    </div>
</div>

<ng-template #loggedOut>
    <div class="btn-group" dropdown>
        <button id="button-basic" dropdownToggle type="button" class="btn btn-link dropdown-toggle"
                aria-controls="dropdown-basic">
            Login/Register <span class="caret"></span>
        </button>

        <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
            role="menu" aria-labelledby="button-basic">
            <li role="menuitem"><a class="dropdown-item" (click)="openLoginModal()">Login</a></li>
            <li class="divider dropdown-divider"></li>
            <li role="menuitem"><a class="dropdown-item" [routerLink]="['/register-user']">Register</a></li>
        </ul>
    </div>
</ng-template>
