
<app-admin-navbar></app-admin-navbar>
<div class="container">
    <div class="row justify-content-center">
        <div class="col">   
            <ul class="list-group">
                <li class="list-group-item list-group-item-dark" (click)="prepareCreate()">ADD NEW Product</li>
                <li class="list-group-item" *ngFor="let Product of Products" 
                    (click)="onSelect(Product)"
                    [class.active]="Product === selectedProduct">
                    <a>{{Product.name}}</a>
                </li>
            </ul>
        </div>

        <div class="col">
            <form *ngIf="isCreating || selectedProduct" [formGroup]="ProductForm" (ngSubmit)="save()">
                <h3 *ngIf="isCreating">New Product</h3>
                <h3 *ngIf="!isCreating">{{selectedProduct.name | uppercase}} {{selectedProduct.Description}} </h3>
                
                <p>
                    <label>
                        Name:
                        <input type="text" formControlName="name">
                    </label>
                </p>

                <p>
                    <label>
                        Rating:
                        <input type="text" formControlName="rating">
                    </label>
                </p>

                <p>
                    <label>
                        Description:
                        <input type="text" formControlName="description">
                    </label>
                </p>

                <p>
                    <label>
                        Price:
                        <input type="text" formControlName="price">
                    </label>
                </p>

                <p>
                    <label>
                        Quantity:
                        <input type="text" formControlName="quantity">
                    </label>
                </p>

                <p>
                    <label>Category:</label>
                    <select class="ProductForm" [formGroup]="ProductForm" formControlName="category">
                        <option value="default">-- Select your category--</option>
                        <option *ngFor="let c of Categories" [value]="c">{{c.name}}</option>
                    </select> 
                </p>


                

                <button *ngIf="selectedProduct" (click)="save(selectedProduct)">Save</button>
                <button *ngIf="selectedProduct" (click)="onDelete(selectedProduct)">Delete</button>
            </form>
        </div>
    </div>
</div>