<div class="container">
    <div class="row mt-3 mb-3">
        <form class="col-8 offset-2" [formGroup]="formRegister" (ngSubmit)="register()">
            <fieldset>
                <legend class="text-center">Register User</legend>

                <div class="form-field ">
                    <label for="email">Email:</label>
                    <input id="email" name="email" type="email" formControlName="email">
                </div>

                <alert  *ngIf="emailMessage" type="danger">
                    {{emailMessage}}
                </alert>

                <div class="form-field ">
                    <label for="pass">Password:</label>
                    <input id="pass" name="password" formControlName="password" 
                        type="password">
                </div>

                <div class="form-field ">
                    <label for="rpass">Repeat Password:</label>
                    <input id="rpass" name="password" formControlName="repeatPassword" 
                        type="password">
                </div>

                <alert  *ngIf="passwordMessage" type="danger">
                    {{passwordMessage}}
                </alert>

                <div class="form-field ">
                    <label for="fname">First Name:</label>
                    <input id="fname" name="firstName" type="text" formControlName="firstName">
                </div>

                <div class="form-field ">
                    <label for="lname">Last Name:</label>
                    <input id="lname" name="lastName" type="text" formControlName="lastName">
                </div>

                <alert  *ngIf="nameMessage" type="danger">
                    {{nameMessage}}
                </alert>

                <div class="form-field ">
                    <label for="phone">Phone:</label>
                    <input id="phone" name="phone" type="tel" formControlName="phone">
                </div>

                <div class="form-field ">
                    <label for="org">Organization:</label>
                    <input id="org" name="organization" type="text" formControlName="organization">
                </div>

                <div class=" mt-2 mb-2">
                    <label for="gdpr" class="checkbox-label"><input id="gdpr" class="checkbox-input" type="checkbox" formControlName="userAgreement">I am well aware that you are going to steal my data</label>
                </div>
    
                <alert  *ngIf="!userAgrees" type="danger">
                    You have to agree with the rules
                </alert>
                
                <input type="submit" class="btn btn-primary" value="Register">
    
                <alert  *ngIf="registerFailureMessage" type="danger">
                    {{registerFailureMessage}}
                </alert>
            </fieldset>
        </form>
    </div>

</div>
