<!--Start of component, main container is nav-->
<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
    
    <!--The main element on the left of navbar which redirects to main page-->
    <a class="navbar-brand" routerLink="/">FIT line</a>

    <button class="navbar-toggler collapsed" type="button" (click)="isCollapsed = !isCollapsed" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!--Navbar Items-->
    <div class="collapse navbar-collapse" [collapse]="isCollapsed">
        <ul class="navbar-nav mr-auto">
            <!--Main Sections
            MainSections are generated via ngFor 
            for easier route mapping and section enabling-->
            <li *ngFor="let section of sections" class="nav-item">
                <a [routerLink]="[section.link]" routerLinkActive="active" class="nav-link">
                    {{section.name}}
                </a>
            </li>
        </ul>
        <!--User sections-->
        <app-user-menu></app-user-menu>

        <!--Basket-->
        <app-basket-dropdown></app-basket-dropdown>

        <!--Search sections-->
        <app-products-search-bar></app-products-search-bar>
    </div>

</nav>


