<!--Start of component, main container is nav-->
<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
    
    <!--The main element on the left of navbar which redirects to main page-->
    <a class="navbar-brand" routerLink="/" (click)="selectedSection = null">FIT line</a>

    <!--Navbar Items-->
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <!--Main Sections
            MainSections are generated via ngFor 
            for easier route mapping and section enabling-->
            <li *ngFor="let section of sections" class="nav-item">
                <a  routerLink="{{section.link}}"
                    class="nav-link" 
                    [class.active]="section === selectedSection"
                    (click)="onSelect(section)"
                    >
                    {{section.name}}
                </a>
            </li>
        </ul>


        <!--Basket-->
        <app-basket-dropdown></app-basket-dropdown>

        <!--User sections-->
        <app-user-menu></app-user-menu>

        <!--Search sections-->
        <app-products-search-bar></app-products-search-bar>
    </div>

</nav>
